{% extends 'base.html.twig' %}

{% block title %}Editer - {{ annonce.title }}{% endblock %}

{% form_theme form 'annonce/_collection.html.twig' %}

{% block body %}

    <div class="container">

        <h1 class="mt-3">Editez votre annonce : {{ annonce.title }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier</button>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/annonce.js') }}"></script>
{% endblock %}